
@{
    Layout = null;
}

<!DOCTYPE html>
<!--View deleted record results-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete from Dictionary</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div>
        <h2>Delete Record Status</h2>
        <p>@ViewBag.DeleteStatus</p>
        <a href="@Url.Action("Index", "Dictionary")"
           class="w3-bar-item w3-button">Return to Dictionary Menu</a><!--Reroute to menu-->
    </div>
</body>
</html>
