
@{
    Layout = null;
}

<!DOCTYPE html>
<!--view dictionary-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display Dictionary</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div>
        @foreach (var sData in ViewBag.MyDictionary)
        {
            <p>@sData</p>
        }
        <a href="@Url.Action("Index", "Dictionary")"
           class="w3-bar-item w3-button">Return to Dictionary Menu</a><!--reroute to menu-->
    </div>
</body>
</html>
