
@{
    Layout = null;
}

<!--Display contents of stack-->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display Stack</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div>
        @foreach (var sData in ViewBag.MyStack)
        {
            <p>@sData</p>
        }
        <a href="@Url.Action("Index", "Stack")"
           class="w3-bar-item w3-button">Return to Stack Menu</a><!--go to stack menu-->
    </div>
</body>
</html>
