
@{
    Layout = null;
}

<!DOCTYPE html>
<!--results of deleting record-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div>
        <h2>Delete Record Status</h2>
        <p>@ViewBag.DeleteStatus</p>
        <a href="@Url.Action("Index", "Queue")"
           class="w3-bar-item w3-button">Return to Queue Menu</a><!--return to queueu menu-->
    </div>
</body>
</html>
