
@{
    Layout = null;
}

<!DOCTYPE html>
<!--Display all values in queue-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display Queue</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div>
        @foreach (var sData in ViewBag.MyQueue)
        {
            <p>@sData</p>
        }
        <a href="@Url.Action("Index", "Queue")"
           class="w3-bar-item w3-button">Return to Queue Menu</a>
    </div>
</body>
</html>
