
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    <div>
        <p>@ViewBag.QueueSearchResults</p>
        <p>It took @ViewBag.StopWatch to complete your search</p>
        <a href="@Url.Action("Index", "Queue")"
           class="w3-bar-item w3-button">Return to Queue Menu</a>
    </div>
</body>
</html>
